@using Newtonsoft.Json;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = null;
}

<section>
	<h2>multipleTextstring</h2>
	<p>@(JsonConvert.SerializeObject(Model.Value<ICollection<string>>("multipleTextstring")))</p>
</section>
<section>
	<h2>dictionary</h2>
	<p>@(JsonConvert.SerializeObject(Model.Value<ICollection<KeyValuePair<string, string>>>("dictionary")))</p>
</section>