@using Umbraco.Cms.Web.Common.PublishedModels;
@using Newtonsoft.Json;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = null;
}

<p>@(JsonConvert.SerializeObject(Model.Value<ICollection<KeyValuePair<string, string>>>("dictionary")))</p>