@using Umbraco.Cms.Core.Serialization
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@inject IJsonSerializer JsonSerializer
@{
	Layout = null;
}

<section>
	<h2>Keyed Dropdown</h2>
	<p>
		<span>Single:</span>
		<span>@(JsonSerializer.Serialize(Model.Value<string>("keyedSingleDropdown")))</span>
	</p>
	<p>
		<span>Multiple:</span>
		<span>@(JsonSerializer.Serialize(Model.Value<ICollection<string>>("keyedMultipleDropdown")))</span>
	</p>
</section>
<section>
	<h2>Keyed Check Box List</h2>
	<p>@(JsonSerializer.Serialize(Model.Value<ICollection<string>>("keyedCheckBoxList")))</p>
</section>